body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d9d9e4;
  }
  
  header {
    background-color: #0a0a23;
    padding: 20px;
    color: aliceblue;
    
  }
a:hover{
  opacity : 0.8;
}
  

  /* unvisited link */
a:link {
  color: rgb(117, 93, 68);
}

/* visited link */
a:visited {
  color: rgb(47, 116, 130);
}



   
  h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  section {
    padding: 20px;
  }

  /* ------- Images Grid ------- */

.grid {
  display: grid;
  grid-gap: 5vmin;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* 150px = minimum image size */
  grid-auto-flow: dense;
  padding: 2em 0;
}

.grid a {
  position: relative;
  border: 0;
}

.grid a:hover {
  transform: scale(.975);
}

/* For a square ratio */
.grid a:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.grid a img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ------- Slideshow ------- */

.slides {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.slides figure {
  height: 100vh;
  padding: 0 5vw;
  margin: 0;
  display: grid;
  place-items: center;
  align-content: center;
  scroll-snap-align: center;
}

.slides figure img {
  max-height: 88vh; /* Adjust if needed */
}

.slides figure.cover {
  padding: 0;
}

.slides figure.cover img {
  max-height: none;
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

/* ------- Lightbox ------- */

.lightbox {
  display: none;
  color: var(--textcolor);
}

.lightbox:target {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
  align-content: center;
  background: var(--bgcolor);
  border: 0;
  z-index: 3;
}

.lightbox img {
  max-height: 100vh;
  z-index: 4;
}

.lightbox:target:before { /* Loading spinner */
  content:"";
  height: 2em;
  width: 2em;
  animation: spin .8s infinite linear;
  border: 1px solid;
  border-right-color: transparent;
  border-radius: 50%;
  display: block;
  position: absolute;
  transform: translateX(-50%);
  opacity: .25;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.lightbox:target:after { /* × to close */
  content: "\00D7";
  position: fixed;
  font-size: 2em;
  font-weight: 200;
  line-height: 0;
  top: .75em;
  right: .5em;
  z-index: 4;
}

/* ------- Smaller screens ------- */

@media only screen and (max-width: 680px) {
  body { font-size: 16px; }
}

@media only screen and (max-width: 540px) {
  nav { width: 100%; } /* Fix for older webkit versions */
}

/* ------- Print ------- */

@media print {
  
  nav, .lightbox:target:after { display: none; }
  
  article, figure, img {
    page-break-inside: avoid;
    break-inside: avoid;
  }
  
  /* Inline footnotes */
  
  label + input + small { display: inline; }
  label + input + small:before { content: "["; }
  label + input + small:after { content: "]"; }
  
  /* Slides */
  
  .slides, .slides figure {
    position: relative;
    height: auto;
    padding: 0;
  }

  .slides figure img, .slides figure.cover img {
    max-height: auto;
    position: relative;
    z-index: 1;
    width: auto;
    height: 100vh;
    object-fit: contain;
  }
}